@tailwind base;
@layer base {
    b {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }

    li {
        margin: 10px 0;
    }

}
@tailwind components;
@tailwind utilities;

@layer utilities {
    .skill-t {
        width: 200px;
    }

    .skill-i {
        width: 50px;
    }

    .i-1 {
        grid-column: span 4;
    }

    .i-2 {
        grid-column: span 2;
    }

    .i-3 {
        grid-column: span 3;
        font-size: x-small;
    }

    .i-4 {
        grid-column: span 3;
    }

    .i-5 {
        grid-column: span 2;
    }

    .i-6 {
        grid-column: span 2;
    }

    .i-7 {
        grid-column: span 2;
    }

    .i-8 {
        grid-column: span 2;
    }

    .i-9 {
        grid-column: span 4;
    }

    .i-10 {
        grid-column: span 3;
    }

    .tilePara {
        background-color: #f9f7f1;
    }

    .code {
        display: block;
        margin: 5%;
        padding: 5%;
        background-color: rgba(31,41,55,1);
        border-radius: .75rem;
        color: white;
        font-family: monospace, monospace;
    }

    .inline-code {
        /*margin: 5%;*/
        padding: 10px;
        background-color: rgba(31,41,55,1);
        border-radius: .75rem;
        color: white;
        font-family: monospace, monospace;
        font-size: 80%;
    }

    .marker {
        background: rgba(245, 235, 111, 0.29);
        padding: 3px 0;
    }

    .img-large {
        width: 450px;
    }

    .img-medium {
        width: 250px;
    }

    .img-small {
        width: 150px;
    }

    .img-stretched {
        width: 100vw;
    }

    .img-bg {
        background-color: #cdd1e0;
        border: 1px solid black;
    }

    .img-border {
        border: 1px solid black;
    }

    .image-tool__image-picture {
        margin: auto;
        width: 250px;
    }

    .image-tool--large img {
        width: 450px;
    }

    .image-tool--medium img {
        width: 250px;
    }

    .image-tool--small img {
        width: 150px;
    }
}

#ddpic {
    width: 32px;
}
